USE [trading]
GO
/****** Object:  Table [dbo].[backtest_results]    Script Date: 13/05/2026 9:34:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[backtest_results](
	[run_id] [nvarchar](36) NOT NULL,
	[strategy_name] [nvarchar](100) NOT NULL,
	[asset] [nvarchar](20) NOT NULL,
	[timeframe] [nvarchar](5) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[win_rate] [float] NULL,
	[profit_factor] [float] NULL,
	[max_drawdown] [float] NULL,
	[sharpe_ratio] [float] NULL,
	[recovery_factor] [float] NULL,
	[total_trades] [int] NULL,
	[winning_trades] [int] NULL,
	[losing_trades] [int] NULL,
	[is_walk_forward] [bit] NOT NULL,
	[wf_window_index] [int] NULL,
	[is_in_sample] [bit] NULL,
	[is_statistically_insufficient] [bit] NOT NULL,
	[config_snapshot] [nvarchar](max) NOT NULL,
	[completed_at] [datetime2](7) NOT NULL,
 CONSTRAINT [pk_backtest_results] PRIMARY KEY CLUSTERED 
(
	[run_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exchange_assets]    Script Date: 13/05/2026 9:34:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exchange_assets](
	[id] [nvarchar](36) NOT NULL,
	[exchange_settings_id] [nvarchar](36) NOT NULL,
	[symbol] [nvarchar](30) NOT NULL,
	[enabled] [bit] NOT NULL,
	[leverage_override] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [pk_exchange_assets] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exchange_settings]    Script Date: 13/05/2026 9:34:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exchange_settings](
	[id] [nvarchar](36) NOT NULL,
	[profile_name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[exchange_id] [nvarchar](50) NOT NULL,
	[market_type] [nvarchar](10) NOT NULL,
	[testnet] [bit] NOT NULL,
	[api_key_encrypted] [nvarchar](max) NULL,
	[api_secret_encrypted] [nvarchar](max) NULL,
	[passphrase_encrypted] [nvarchar](max) NULL,
	[account_balance_usd] [float] NOT NULL,
	[account_currency] [nvarchar](10) NOT NULL,
	[sizing_mode] [nvarchar](20) NOT NULL,
	[fixed_usd_per_trade] [float] NOT NULL,
	[risk_pct_per_trade] [float] NOT NULL,
	[default_leverage] [int] NOT NULL,
	[fee_rate] [float] NOT NULL,
	[slippage_pct] [float] NOT NULL,
 CONSTRAINT [pk_exchange_settings] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[signal_log]    Script Date: 13/05/2026 9:34:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[signal_log](
	[log_id] [nvarchar](36) NOT NULL,
	[timestamp] [datetime2](7) NOT NULL,
	[asset] [nvarchar](20) NOT NULL,
	[timeframe] [nvarchar](5) NOT NULL,
	[strategy_name] [nvarchar](100) NOT NULL,
	[direction] [nvarchar](5) NOT NULL,
	[candle_index] [bigint] NOT NULL,
	[entry_price] [float] NULL,
	[stop_loss] [float] NULL,
	[take_profit_1] [float] NULL,
	[take_profit_2] [float] NULL,
	[raw_score] [float] NOT NULL,
	[final_score] [int] NOT NULL,
	[score_order_flow] [float] NOT NULL,
	[score_smc] [float] NOT NULL,
	[score_vsa] [float] NOT NULL,
	[score_context] [float] NOT NULL,
	[score_bonus] [float] NOT NULL,
	[regime] [nvarchar](20) NOT NULL,
	[regime_multiplier] [float] NOT NULL,
	[funding_rate] [float] NOT NULL,
	[portfolio_heat] [float] NOT NULL,
	[correlated_group_risk] [float] NOT NULL,
	[classification] [nvarchar](10) NOT NULL,
	[user_action] [nvarchar](10) NULL,
	[skip_reason] [nvarchar](max) NULL,
	[expiry_price] [float] NULL,
	[expires_at_candle] [bigint] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [pk_signal_log] PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trade_journal]    Script Date: 13/05/2026 9:34:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trade_journal](
	[trade_id] [nvarchar](36) NOT NULL,
	[signal_log_id] [nvarchar](36) NULL,
	[strategy_name] [nvarchar](100) NOT NULL,
	[asset] [nvarchar](20) NOT NULL,
	[timeframe] [nvarchar](5) NOT NULL,
	[direction] [nvarchar](5) NOT NULL,
	[entry_timestamp] [datetime2](7) NOT NULL,
	[exit_timestamp] [datetime2](7) NULL,
	[entry_price] [float] NOT NULL,
	[exit_price] [float] NULL,
	[actual_entry_price] [float] NOT NULL,
	[actual_exit_price] [float] NULL,
	[stop_loss] [float] NOT NULL,
	[take_profit_1] [float] NOT NULL,
	[take_profit_2] [float] NULL,
	[position_size_usd] [float] NOT NULL,
	[leverage] [int] NOT NULL,
	[slippage_entry] [float] NOT NULL,
	[slippage_exit] [float] NOT NULL,
	[fee_entry] [float] NOT NULL,
	[fee_exit] [float] NOT NULL,
	[funding_paid] [float] NOT NULL,
	[gross_pnl] [float] NULL,
	[net_pnl] [float] NULL,
	[result] [nvarchar](4) NULL,
	[signal_score] [int] NOT NULL,
	[exchange_order_id] [nvarchar](100) NULL,
	[is_testnet] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [pk_trade_journal] PRIMARY KEY CLUSTERED 
(
	[trade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trading_params]    Script Date: 13/05/2026 9:34:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trading_params](
	[id] [nvarchar](36) NOT NULL,
	[version_tag] [nvarchar](50) NOT NULL,
	[version_note] [nvarchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[activated_at] [datetime2](7) NULL,
	[score_alert_threshold] [int] NOT NULL,
	[score_watch_threshold] [int] NOT NULL,
	[order_flow_max_pts] [int] NOT NULL,
	[smc_max_pts] [int] NOT NULL,
	[vsa_max_pts] [int] NOT NULL,
	[context_max_pts] [int] NOT NULL,
	[confluence_bonus_max_pts] [int] NOT NULL,
	[adx_trending_threshold] [float] NOT NULL,
	[adx_choppy_threshold] [float] NOT NULL,
	[atr_parabolic_multiplier] [float] NOT NULL,
	[atr_parabolic_rolling_window] [int] NOT NULL,
	[parabolic_score_multiplier] [float] NOT NULL,
	[ranging_score_multiplier] [float] NOT NULL,
	[trending_score_multiplier] [float] NOT NULL,
	[trigger_timeframe] [nvarchar](5) NOT NULL,
	[context_timeframe] [nvarchar](5) NOT NULL,
	[entry_timeframe] [nvarchar](5) NOT NULL,
	[time_invalidation_candles] [int] NOT NULL,
	[ob_atr_multiplier] [float] NOT NULL,
	[fvg_touch_tolerance_pct] [float] NOT NULL,
	[ob_retest_tolerance_pct] [float] NOT NULL,
	[pinbar_tail_ratio] [float] NOT NULL,
	[pinbar_body_position_long] [float] NOT NULL,
	[pinbar_body_position_short] [float] NOT NULL,
	[no_supply_vol_ratio] [float] NOT NULL,
	[effort_result_vol_ratio] [float] NOT NULL,
	[poc_tolerance_pct] [float] NOT NULL,
	[swing_lookback] [int] NOT NULL,
	[fibonacci_lookback] [int] NOT NULL,
	[correlation_threshold] [float] NOT NULL,
	[max_correlated_risk_pct] [float] NOT NULL,
	[portfolio_heat_limit_pct] [float] NOT NULL,
	[atr_sl_multiplier] [float] NOT NULL,
	[tp1_rr_ratio] [float] NOT NULL,
	[tp2_rr_ratio] [float] NOT NULL,
	[max_concurrent_positions] [int] NOT NULL,
	[max_daily_loss_pct] [float] NOT NULL,
	[min_trades_threshold] [int] NOT NULL,
	[overfit_degradation_threshold] [float] NOT NULL,
 CONSTRAINT [pk_trading_params] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[backtest_results] ADD  DEFAULT (newid()) FOR [run_id]
GO
ALTER TABLE [dbo].[backtest_results] ADD  DEFAULT ((0)) FOR [is_walk_forward]
GO
ALTER TABLE [dbo].[backtest_results] ADD  DEFAULT ((0)) FOR [is_statistically_insufficient]
GO
ALTER TABLE [dbo].[backtest_results] ADD  DEFAULT (getutcdate()) FOR [completed_at]
GO
ALTER TABLE [dbo].[exchange_assets] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[exchange_assets] ADD  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[exchange_assets] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[exchange_settings] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[exchange_settings] ADD  DEFAULT ('default') FOR [profile_name]
GO
ALTER TABLE [dbo].[exchange_settings] ADD  DEFAULT ((0)) FOR [is_active]
GO
ALTER TABLE [dbo].[exchange_settings] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[exchange_settings] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[exchange_settings] ADD  DEFAULT ('binance') FOR [exchange_id]
GO
ALTER TABLE [dbo].[exchange_settings] ADD  DEFAULT ('futures') FOR [market_type]
GO
ALTER TABLE [dbo].[exchange_settings] ADD  DEFAULT ((1)) FOR [testnet]
GO
ALTER TABLE [dbo].[exchange_settings] ADD  DEFAULT ((10000.0)) FOR [account_balance_usd]
GO
ALTER TABLE [dbo].[exchange_settings] ADD  DEFAULT ('USDT') FOR [account_currency]
GO
ALTER TABLE [dbo].[exchange_settings] ADD  DEFAULT ('risk_pct') FOR [sizing_mode]
GO
ALTER TABLE [dbo].[exchange_settings] ADD  DEFAULT ((100.0)) FOR [fixed_usd_per_trade]
GO
ALTER TABLE [dbo].[exchange_settings] ADD  DEFAULT ((0.02)) FOR [risk_pct_per_trade]
GO
ALTER TABLE [dbo].[exchange_settings] ADD  DEFAULT ((5)) FOR [default_leverage]
GO
ALTER TABLE [dbo].[exchange_settings] ADD  DEFAULT ((0.001)) FOR [fee_rate]
GO
ALTER TABLE [dbo].[exchange_settings] ADD  DEFAULT ((0.0002)) FOR [slippage_pct]
GO
ALTER TABLE [dbo].[signal_log] ADD  DEFAULT (newid()) FOR [log_id]
GO
ALTER TABLE [dbo].[signal_log] ADD  DEFAULT ((0)) FOR [score_order_flow]
GO
ALTER TABLE [dbo].[signal_log] ADD  DEFAULT ((0)) FOR [score_smc]
GO
ALTER TABLE [dbo].[signal_log] ADD  DEFAULT ((0)) FOR [score_vsa]
GO
ALTER TABLE [dbo].[signal_log] ADD  DEFAULT ((0)) FOR [score_context]
GO
ALTER TABLE [dbo].[signal_log] ADD  DEFAULT ((0)) FOR [score_bonus]
GO
ALTER TABLE [dbo].[signal_log] ADD  DEFAULT ((0)) FOR [funding_rate]
GO
ALTER TABLE [dbo].[signal_log] ADD  DEFAULT ((0)) FOR [portfolio_heat]
GO
ALTER TABLE [dbo].[signal_log] ADD  DEFAULT ((0)) FOR [correlated_group_risk]
GO
ALTER TABLE [dbo].[signal_log] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[trade_journal] ADD  DEFAULT (newid()) FOR [trade_id]
GO
ALTER TABLE [dbo].[trade_journal] ADD  DEFAULT ((1)) FOR [leverage]
GO
ALTER TABLE [dbo].[trade_journal] ADD  DEFAULT ((0)) FOR [slippage_entry]
GO
ALTER TABLE [dbo].[trade_journal] ADD  DEFAULT ((0)) FOR [slippage_exit]
GO
ALTER TABLE [dbo].[trade_journal] ADD  DEFAULT ((0)) FOR [fee_entry]
GO
ALTER TABLE [dbo].[trade_journal] ADD  DEFAULT ((0)) FOR [fee_exit]
GO
ALTER TABLE [dbo].[trade_journal] ADD  DEFAULT ((0)) FOR [funding_paid]
GO
ALTER TABLE [dbo].[trade_journal] ADD  DEFAULT ((1)) FOR [is_testnet]
GO
ALTER TABLE [dbo].[trade_journal] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[trade_journal] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((0)) FOR [is_active]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((75)) FOR [score_alert_threshold]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((55)) FOR [score_watch_threshold]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((35)) FOR [order_flow_max_pts]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((30)) FOR [smc_max_pts]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((30)) FOR [vsa_max_pts]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((15)) FOR [context_max_pts]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((15)) FOR [confluence_bonus_max_pts]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((25.0)) FOR [adx_trending_threshold]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((20.0)) FOR [adx_choppy_threshold]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((3.0)) FOR [atr_parabolic_multiplier]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((20)) FOR [atr_parabolic_rolling_window]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((0.6)) FOR [parabolic_score_multiplier]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((0.85)) FOR [ranging_score_multiplier]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((1.0)) FOR [trending_score_multiplier]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ('15m') FOR [trigger_timeframe]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ('1h') FOR [context_timeframe]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ('5m') FOR [entry_timeframe]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((15)) FOR [time_invalidation_candles]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((1.5)) FOR [ob_atr_multiplier]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((0.001)) FOR [fvg_touch_tolerance_pct]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((0.002)) FOR [ob_retest_tolerance_pct]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((2.0)) FOR [pinbar_tail_ratio]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((0.70)) FOR [pinbar_body_position_long]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((0.30)) FOR [pinbar_body_position_short]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((0.40)) FOR [no_supply_vol_ratio]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((0.50)) FOR [effort_result_vol_ratio]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((0.003)) FOR [poc_tolerance_pct]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((20)) FOR [swing_lookback]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((50)) FOR [fibonacci_lookback]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((0.8)) FOR [correlation_threshold]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((3.0)) FOR [max_correlated_risk_pct]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((6.0)) FOR [portfolio_heat_limit_pct]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((1.5)) FOR [atr_sl_multiplier]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((1.5)) FOR [tp1_rr_ratio]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((2.5)) FOR [tp2_rr_ratio]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((3)) FOR [max_concurrent_positions]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((5.0)) FOR [max_daily_loss_pct]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((30)) FOR [min_trades_threshold]
GO
ALTER TABLE [dbo].[trading_params] ADD  DEFAULT ((0.20)) FOR [overfit_degradation_threshold]
GO
ALTER TABLE [dbo].[signal_log]  WITH CHECK ADD  CONSTRAINT [chk_sl_classification] CHECK  (([classification]='IGNORE' OR [classification]='WATCH' OR [classification]='ALERT'))
GO
ALTER TABLE [dbo].[signal_log] CHECK CONSTRAINT [chk_sl_classification]
GO
ALTER TABLE [dbo].[signal_log]  WITH CHECK ADD  CONSTRAINT [chk_sl_direction] CHECK  (([direction]='short' OR [direction]='long'))
GO
ALTER TABLE [dbo].[signal_log] CHECK CONSTRAINT [chk_sl_direction]
GO
ALTER TABLE [dbo].[signal_log]  WITH CHECK ADD  CONSTRAINT [chk_sl_final_score] CHECK  (([final_score]>=(0) AND [final_score]<=(100)))
GO
ALTER TABLE [dbo].[signal_log] CHECK CONSTRAINT [chk_sl_final_score]
GO
ALTER TABLE [dbo].[signal_log]  WITH CHECK ADD  CONSTRAINT [chk_sl_regime] CHECK  (([regime]='CHOPPY' OR [regime]='PARABOLIC' OR [regime]='RANGING' OR [regime]='TRENDING'))
GO
ALTER TABLE [dbo].[signal_log] CHECK CONSTRAINT [chk_sl_regime]
GO
ALTER TABLE [dbo].[signal_log]  WITH CHECK ADD  CONSTRAINT [chk_sl_user_action] CHECK  (([user_action]='IGNORE' OR [user_action]='EXPIRED' OR [user_action]='SKIP' OR [user_action]='CONFIRM'))
GO
ALTER TABLE [dbo].[signal_log] CHECK CONSTRAINT [chk_sl_user_action]
GO
ALTER TABLE [dbo].[trade_journal]  WITH CHECK ADD  CONSTRAINT [chk_tj_direction] CHECK  (([direction]='short' OR [direction]='long'))
GO
ALTER TABLE [dbo].[trade_journal] CHECK CONSTRAINT [chk_tj_direction]
GO
ALTER TABLE [dbo].[trade_journal]  WITH CHECK ADD  CONSTRAINT [chk_tj_result] CHECK  (([result]='be' OR [result]='loss' OR [result]='win'))
GO
ALTER TABLE [dbo].[trade_journal] CHECK CONSTRAINT [chk_tj_result]
GO
ALTER TABLE [dbo].[trade_journal]  WITH CHECK ADD  CONSTRAINT [chk_tj_signal_score] CHECK  (([signal_score]>=(0) AND [signal_score]<=(100)))
GO
ALTER TABLE [dbo].[trade_journal] CHECK CONSTRAINT [chk_tj_signal_score]
GO
